{% extends 'base.html' %}

{% block head %}


<p>
    <img src="{{product.image}}"><br />
    {{product.name}}<br />
</p>
<p>
<table align="center">
    <tr>
        <td>
            Nutriscore :{{product.nutriscore}}
        </td>
        <td>
            Repères nutritionnels pour 100g :<br />
            <img src="{{product.nutrition}}">
        </td>
    </tr>
</table>
Voir sur <a href="{{product.url}}">OpenFoodFacts</a>
</p>
{% for substitute in product.get_six_better_substitutes %}
<img src="{{substitute.image}}">
{% endfor %}
{% endblock %}

{% block history %}
{% endblock %}

{% block contact %}
{% endblock %}